{% extends 'upload/base.html' %}

{%  block uploader %}
<!-- Header Search -->

<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="content">
        <div
            class="d-md-flex justify-content-md-between align-items-md-center py-3 pt-md-3 pb-md-0 text-center text-md-left">
            <div>
                <h1 class="h2 mb-1">
                    Dashboard
                </h1>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">

        <!-- Store Growth -->

        <!-- END Store Growth -->

        <!--  Latest Orders -->
        <div class="block block-rounded block-mode-loading-refresh">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    Products
                </h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
                        data-action-mode="demo">
                        <i class="si si-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="block-content" style="overflow-x:auto;">
                <table class="table table-striped table-hover table-borderless table-vcenter font-size-sm">
                    <thead class=" thead-light ">
                        <tr class="text-uppercase ">
                            <th>Location_ID</th>
                            <th>Product_ID</th>
                            <th>Quantity</th>
                            <th>Brand/Make</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <span class="font-w600 ">{{product.location_id}}</span>
                            </td>
                            <td>
                                <span class="font-w600 ">{{product.product_id}}</span>
                            </td>
                            <td>
                                <span class="font-w600 text-warning ">{{product.quantity}}</span>
                            </td>
                            <td>
                                <span class="font-w600 ">{{product.make_brand}}</span>
                            </td>
                            <td>
                                <span class="font-w600 ">{{product.description}}</span>
                            </td>
                            <td>
                                <span class="font-w600 ">{{product.source}}</span>
                            </td>
                            <td>
                                <span class="font-w600 ">${{product.price}}</span>
                            </td>
                            <td class="text-center text-nowrap font-w500 ">
                                <a class="btn-block-option" href="details/{{product.id}}">
                                    <i class="si si-eye"></i>
                                </a>
                                <a class="btn-block-option" href="edit/{{product.id}}">
                                    <i class="si si-pencil"></i>
                                </a>
                                <a class="btn-block-option" href="delete/{{product.id}}">
                                    <i class="si si-close"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Page Content -->
</main>
<!-- END Main Container -->
{%  endblock %}